.categories-container
  min-height calc(100vh - 64px)
  text-align center

  .direction
    display flex
    justify-content center
    align-items center

    .ripple-container
      margin 20px
      cursor pointer
      text-align center
      width 300px
      height 300px
      line-height 300px
      user-select none
      -webkit-user-select none
      -moz-user-select none
      -ms-user-select none
      -webkit-user-drag none
      -webkit-tap-highlight-color transparent

  .categories
    display flex
    justify-content space-between
    flex-wrap wrap
    width 600px
    margin auto

    .ripple-container
      cursor pointer
      height 100px
      width 100px
      margin 1rem
      background-repeat no-repeat !important
      background-size cover !important
